RewriteEngine on
RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]

Options -Indexes
<Files 403.shtml>
order allow,deny
allow from all
</Files>

deny from 173.254.216.66
deny from 46.166.148.176
deny from 204.85.191.30
deny from 89.234.157.254
deny from 192.36.27.7
deny from 85.248.227.165
